*{
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url("assets/images/background.png");
    
}

.heading{
    color:yellow;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    margin: 40px;
    font-size: 2em;
    text-shadow: 8px 2px 2px rgb(94, 68, 30);
}

#main-block{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#fight{
    border: 15px outset rgb(206, 198, 198);
    height: 320px;
    width: 400px;
    background-color: rgb(95, 92, 92);
}
#monster{
    background-color: rgb(95, 92, 92);
}
#monster img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30%;
}

#button{
    cursor: pointer;
    color:white;
    margin-top: 40px;
    margin-left: 20%;
    padding: 15px;
    background-color: rgb(95, 92, 92);
    border: 8px outset rgb(206, 198, 198);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#button:hover{
        background-color: rgb(35, 94, 44);
        color: rgb(224, 156, 248);
}

#audio{
    color:white;
    cursor: pointer;
    margin: 20px ;
    font-size: 20px;
    margin-left: 20px; 
    background-color: red;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times;
}
